<b id="d1">pay down line of credit : payamount</b>
<br>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<br>
<div id="d2">
<p>Transfer From Checking Account: 000000001 Fire Deparment</p>
<p>Transfer To Loan Account: 1234567891-main line</p>
<p>Checking Account Available Balance: $15,000.00</p>
<p>Principal Balance: $100,000.00</p>
<p>Principal Due: $40,000.00</p>
<p>Interest and Fees Due: $2,000.00</p>
<p>Total Loan Payment Due: $42,000.00</p>
<p>Current Due Date: Jan 02, 2020</p>
<p>principal amount:<button>4000.00</button></p>
<p>Interest for amount:<button>6000.00</button></p>
</div>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<span id="d4"><button type="button" class="btn btn-outline-success">cancel</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <button type="button" class="btn btn-outline-warning">edit</button>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <a routerLink="approval"><button type="button" class="btn btn-outline-danger">next</button></a>
</span>

