
              
                <h2>coin bank</h2>
                <ul>
                  <li><a class="active" href="#home">Dashboard</a></li>
                  <li><a href="#news">Reports and Research</a></li>
                  <li><a routerLink="pay">Payables</a></li>
                  <li><a href="#about">Recieviables</a></li>
                  <li><a href="#home">File services</a></li>
                  <li><a href="#news">car services</a></li>
                  <li><a href="#contact">Specilized serices</a></li>
              
                </ul>
                
          <router-outlet></router-outlet>
            
