hr {
  
    
    width:50%;
  }
  #d1{
    margin-left: 400px;
}
  #d2{
      margin-left: 500px;
  }
  #d3{
    margin-left: 400px;
}
#sel1{
    size:40px;
    margin-left: 400px;
    width: 100px;


}
#d4{
    margin-left:400px;
}


