<div class="container">
            
    <table class="table table-borderless">
      
      <tbody>
        <tr>
          <td>package
        <br>efficent and secure tools
        
              
          </td>
         <td class="table-primary">account recounliment <i style='font-size:24px' class='fas'>&#xf105;</i></td>
          <td  class="table-primary">fraud services <i style='font-size:24px' class='fas'>&#xf105;</i></td>
        </tr>
        <tr>
            <td></td>
           <td  class="table-primary">ACH <i style='font-size:24px' class='fas'>&#xf105;</i></td>
            <td  class="table-primary">Loan management <i style='font-size:24px' class='fas'>&#xf105;</i></td>
          </tr>
          <tr>
            <td></td>
           <td  class="table-primary"> ACH diect<i style='font-size:24px' class='fas'>&#xf105;</i></td>
            <td  class="table-primary">loan management 2.0 <a  routerLink="load"><i style='font-size:24px' class='fas'>&#xf105;</i></a></td>
          </tr>
          <tr>
            <td></td>
           <td  class="table-primary"> Book transfer<i style='font-size:24px' class='fas'>&#xf105;</i></td>
            <td class="table-primary">transition services 2.0 <i style='font-size:24px' class='fas'>&#xf105;</i></td>
          </tr>
          <tr>
            <td></td>
           <td  class="table-primary"> foreign drafts<i style='font-size:24px' class='fas'>&#xf105;</i></td>
            <td  class="table-primary">wires <i style='font-size:24px' class='fas'>&#xf105;</i></td>
          </tr>
      </tbody>