<b id="d1">pay down a line of approval</b>
<br>
<br>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<br>
<br>
<br>


<div id="d2">
<p>Transfer from checking amount:000000001 fire department</p>
<p>Transfer to main amount:12345678 main line</p>
<p>principal amount:$4000</p>
<p>interest payamount:$60000</p>
<p>Total payamount:$10000</p>

</div>
<br>
<br>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<br>
<br>
<br>
<span id="d3"><button type="button" class="btn btn-outline-success">cancel</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <button type="button" class="btn btn-outline-warning">edit</button>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <a routerLink="accept"><button type="button" class="btn btn-outline-danger">accept</button></a>
</span>



