<b id="d1">Draw a Line of credit selection</b>
<br>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<br>
<span id="d2">select facility:

    <select>
    <option>facility-2</option>
    <option>facility-1</option>
    <option>facility-3</option>
    <option>facility-4</option>
    <option>facility-5</option>
  </select>
  
  </span>
  <br>
  <br>
  <span id="d2">Transfer from checking amout:

    <select>
    <option>select amount</option>
    <option>000001 fire department</option>
    <option>000002 fire department</option>
    <option>000003 fire department</option>
    <option>000004 fire department</option>
    <option>000006 fire department</option>
  </select>
  
  </span>
  <br>
  <br>
  <span id="d2">Transfer to loan amount:

    <select>
        <option>select amount</option>
    <option>12345 max line</option>
    <option>12346 max line</option>
    <option>12347 max line</option>
    <option>12348 max line </option>
    <option>12349 max line</option>
  </select>
  
  </span>
  <br>
  <br>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
  <br>
  <div class="container-fluid">
    
    <div class="row">
      <div class="col-sm-6" style="padding-left:400px;" ><button style="background-color: green;">close</button></div>
      <a routerLink="next"><div class="col-sm-6" style="padding-left:100px;" ><button style="background-color: orange;">next</button></div></a>
    </div>
  </div>
 