<div id="d1">
<h3>loadmanagement</h3>
<br>
<br>

<p> <a routerLink="com"><i style='font-size:20px' class='fas'>&#xf138;</i> </a>commmericale loan statement</p>
<p><a routeLink="#"><i style='font-size:20px' class='fas'>&#xf138;</i></a>draw on a line of credit</p>
<p><i style='font-size:20px' class='fas'>&#xf138;</i> pay down on line of credit</p>
<p><i style='font-size:20px' class='fas'>&#xf138;</i> payment to term loan</p>
<p><i style='font-size:20px' class='fas'>&#xf138;</i> loan enquirycs</p>
</div>
